@import './reset.css';
@import './pulseBackground.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

:root {
  --font: font-family: 'Roboto', sans-serif;
}

.city-form,
.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 50%;
  margin: 0 auto;
}

.city-form, .city-form input {
  padding: 1rem;
}

.searchBar,
.submit-btn {
  border-radius: 0;
  background: #e3e3e3;
  border: 0.00625rem solid rgba(0,0,0,0.5);
}

.searchBar {
  transition: all 0.75s ease-in;
  border-right: none;
}

.submit-btn {
  border-left: 0.00625rem solid rgba(0,0,0,0.5);
}

.searchBar:hover,
.searchBar:focus {
  background: #e3e3e3;

}

.city-form {
  font-size: 1.2rem;
}